@import "bootstrap";
/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  box-sizing: border-box;
}
input {
  height: auto !important;
}
#session_remember_me {
  width: 30px;
}